body{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke ;
    /* rgb(32, 65, 132) */
}

/* ------------------------------------------------------------------  Navigation Bar Starts  ---------------------------------------------------------------------------- */
.nav-bar{
    margin-bottom: 0px;
    padding: 0px;
    box-shadow: 0px 5px 4px -2px  rgb(7, 32, 90);
}

ul{
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
}

.li-center{
    display: inline-block;
    margin-right: 20px;
    font-family: Poppins;
    font-size: 30px;
    color: rgb(36, 65, 132);
    position: relative;
    right: -48%;
    margin-bottom: 20px;
}

.li-right{
    display: inline-block;
    margin-right: 20px;
    font-family: Poppins;
    position: relative;
    right: -75%;
}

.li-right a{
    color: rgb(36, 65, 132);
    text-decoration: none;
    padding: 8px;
    transition-duration: 0.4s;
}

.li-right a:hover{
    background-color:rgb(36, 65, 132);
    color: whitesmoke;
}

hr{
    color:rgb(36, 65, 132);
    padding: 0px;
}

/* ------------------------------------------------------------------  Navigation Bar Ends  ---------------------------------------------------------------------------- */

/* ------------------------------------------------------------------  Body Starts  ---------------------------------------------------------------------------- */
.body-main{
    display: flex;
}

p a{
    color: rgb(36, 65, 132);
    transition-duration: 0.4s;
}

p a:hover{
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

tr{
    padding: 0px;
    margin: 0px;
    
}

td{
    padding: 5px;
    margin: 0px;
}

.main-td{
    width: 18cm;
    height: 13cm;
    padding: 0px;
    margin: 0px;
}

.sub-td{
width: 6cm;
height: 4cm;
padding: 0px;
margin: 0px;
}

td h3{
    position: relative;
    text-align: center;
    top: 0px;
    font-family: Poppins;
    color: rgb(36, 65, 132);
    padding:0px;
    margin: 0px;
    font-size: 30px;
    box-sizing: border-box;
}

td hr{
    width: 20%;
    box-sizing: border-box;
}
td p{
    box-sizing: border-box;
    color:rgb(36, 65, 132);

}

button{
    font-size: 20px;
    width: 6cm;
    color: rgb(36, 65, 132) ;
    background-color: whitesmoke;
    font-family: Poppins;
    border-radius: 10px;
    border: 2px solidrgb(36, 65, 132) ;
    position: relative;
    transition-duration: 0.4s;
    box-sizing: border-box;
    right: -30%;
    text-align: center;
    margin: 30px 0px;
}

button:hover{
    background-color:rgb(36, 65, 132) ;
    color: whitesmoke;
    cursor: pointer;
}


.main-table{
    position: relative;
    padding-top: 100px;
    right: -15%;
}

.main-image{
    width:inherit;
    height: inherit;
    padding: 0px;
    margin: 0px;
    border-radius: 30px;
}

.sub-image{
    width:inherit;
    height: inherit;
    padding: 0px;
    margin: 0px;
    border-radius: 30px;
}

.sub-image:hover{
    border: 2px solid rgb(36, 65, 132);
    transition-duration: 0.4s;
    cursor: pointer;
}

.info-td{
    width: 15cm;
    border-bottom: 1px solid rgb(36, 65, 132);
    border-right: 1px solid rgb(36, 65, 132);
    border-top: 1px solid rgb(36, 65, 132);
}

.like-div{
    padding: 0px;
    margin: 0px;
}

.like-div p{
    position: relative;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    color: rgb(36, 65, 132);
    margin-top: 100px;
}

.like-td{
    padding: 0px;
    margin: 100px;
    width: 10cm;
    height: auto;

}

.like-image{
    width: inherit;
    height: 8cm;
    padding: 0px;
    margin: 0px;
    border-radius: 20px 20px 0px 0px;
}

.like-text-td{
    padding-right: 0px;
    margin: 0px;
    border-bottom: 1px solid rgb(36, 65, 132);
    border-left: 1px solid rgb(36, 65, 132);
    border-right: 1px solid rgb(36, 65, 132);
    
}

.like-tr{
    margin: 200px;
}

.like-table{
    position: relative;
    padding-top: 50px;
    right: -12.75%;
    border-spacing: 60px 0px;
}


/* ------------------------------------------------------------------  Body Ends  ---------------------------------------------------------------------------- */



/* ------------------------------------------------------------------  Footer Starts  ---------------------------------------------------------------------------- */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-li{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 5px;
    font-family: Poppins;
    position: relative;
    right: -45%;
}

.footer-li a{
    text-decoration: none;
    padding: 5px;
    font-family: Poppins;
    font-size: 15px;
    transition-duration: 0.4s;
    color: rgb(36, 65, 132);
}

.footer-li a:hover{
    background-color: rgb(36, 65, 132);
    color: whitesmoke;
}


/* ------------------------------------------------------------------  Footer Ends  ---------------------------------------------------------------------------- */