body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(36, 65, 132) ;
    /* rgb(32, 65, 132) */
}

/* ------------------------------------------------------------------  Navigation Bar Starts  ---------------------------------------------------------------------------- */
.nav-bar{
    margin: 0px;
    padding: 0px;
}

ul{
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
}

.li-center{
    display: inline-block;
    margin-right: 20px;
    font-family: Poppins;
    font-size: 30px;
    color: whitesmoke;
    position: relative;
    right: -50%;
}

.li-right{
    display: inline-block;
    margin-right: 20px;
    font-family: Poppins;
    position: relative;
    right: -75%;
}

.li-right a{
    color: whitesmoke;
    text-decoration: none;
    padding: 8px;
    transition-duration: 0.4s;
}

.li-right a:hover{
    background-color: whitesmoke;
    color: rgb(36, 65, 132);
}

hr{
    color: whitesmoke;
    padding: 0px;
}

/* ------------------------------------------------------------------  Navigation Bar Ends  ---------------------------------------------------------------------------- */

/* ------------------------------------------------------------------  Body Starts  ---------------------------------------------------------------------------- */
.body-main{
    display: flex;
}

tr{
    padding: 0px;
    margin: 0px;
    
}

td{
    padding: 5px;
    margin: 0px;
}

.main-td{
    width: 18cm;
    height: 13cm;
    padding: 0px;
    margin: 0px;
}

.sub-td{
width: 6cm;
height: 4cm;
padding: 0px;
margin: 0px;
}

td h3{
    position: relative;
    right: -26%;
    top: 0px;
    font-family: Poppins;
    color: whitesmoke;
    padding:0px;
    margin: 0px;
    font-size: 30px;
    box-sizing: border-box;
}

td hr{
    width: 20%;
    box-sizing: border-box;
}
td p{
    box-sizing: border-box;
    color: whitesmoke;

}

button{
    font-size: 25px;
    width: 8cm;
    color: whitesmoke ;
    background-color: rgb(36, 65, 132);
    font-family: Poppins;
    border-radius: 10px;
    border: 2px solid whitesmoke ;
    position: relative;
    right: -25%;
    transition-duration: 0.4s;
    box-sizing: border-box;
}

button:hover{
    background-color:whitesmoke ;
    color:  rgb(36, 65, 132);
}


.main-table{
    position: relative;
    padding-top: 100px;
    right: -15%;
}

.main-image{
    width:inherit;
    height: inherit;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

.sub-image{
    width:inherit;
    height: inherit;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

.info-td{
    width: 15cm;
    border-bottom: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
}


/* ------------------------------------------------------------------  Body Ends  ---------------------------------------------------------------------------- */



/* ------------------------------------------------------------------  Footer Starts  ---------------------------------------------------------------------------- */
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-li{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 5px;
    font-family: Poppins;
    position: relative;
    right: -50%;
}

.footer-li a{
    text-decoration: none;
    padding: 5px;
    font-family: Poppins;
    font-size: 15px;
    transition-duration: 0.4s;
    color: whitesmoke;
}

.footer-li a:hover{
    background-color: whitesmoke;
    color: rgb(36, 65, 132);
}


/* ------------------------------------------------------------------  Footer Ends  ---------------------------------------------------------------------------- */