body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(36, 65, 132) ;
    /* rgb(32, 65, 132) */
}

/* ------------------------------------------------------------------  Navigation Bar Starts  ---------------------------------------------------------------------------- */
.nav-bar{
    margin: 0px;
    padding: 0px;
}

ul{
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
}

.li-center{
    display: inline-block;
    margin-right: 20px;
    font-family: Poppins;
    font-size: 30px;
    color: whitesmoke;
    position: relative;
    right: -50%;
}

.li-right{
    display: inline-block;
    margin-right: 20px;
    font-family: Poppins;
    position: relative;
    right: -80%;
}

.li-right a{
    color: whitesmoke;
    text-decoration: none;
}

.li-right a:hover{
    color: teal;
}

hr{
    color: whitesmoke;
    padding: 0px;
}

/* ------------------------------------------------------------------  Navigation Bar Ends  ---------------------------------------------------------------------------- */

/* ------------------------------------------------------------------  Body Starts  ---------------------------------------------------------------------------- */
.body-main{
    display: flex;
}

tr{
    padding: 0px;
    margin: 0px;
    
}

td{
    padding: 5px;
    margin: 0px;
    border: 1px solid whitesmoke;
    width: 20cm;
}

td h3{
    position: relative;
    right: -33%;
    top: 0px;
    font-family: Poppins;
    color: whitesmoke;
    padding:0px;
    margin: 0px;
    font-size: 30px;
}

td hr{
    width: 20%;
}
td p{
    color: whitesmoke;

}

button{
    font-size: 30px;
    width: 10cm;
    color: rgb(36, 65, 132) ;
    font-family: Poppins;
    border-radius: 10px;
    border: 2px rgb(36, 65, 132) ;
    position: relative;
    right: -25%;
}

table{
    position: relative;
    padding-top: 100px;
    right: -9%;
}

img{
    width: 20cm;
    height: 15cm;
}


/* ------------------------------------------------------------------  Body Ends  ---------------------------------------------------------------------------- */



/* ------------------------------------------------------------------  Footer Starts  ---------------------------------------------------------------------------- */
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-li{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 5px;
    font-family: Poppins;
    position: relative;
    right: -50%;
}

.footer-li a{
    text-decoration: none;
    font-family: Poppins;
    font-size: 15px;
    color: whitesmoke;
}

.footer-li a:hover{
    color: teal;
}


/* ------------------------------------------------------------------  Footer Ends  ---------------------------------------------------------------------------- */